html, body {
  margin: 0;
  padding: 0;
}

 @font-face {
        font-family: bian;
        src: url(fonts/bianzhidai_noBG-Ring.otf);
      }
      body,
      textarea{
        font-family: bian;
      }

textarea{
resize: none;
        position: relative;
        top: 0;    
        left: 0;
        padding: 1em;
        margin: 1em;
        background-color: rgba(255, 135, 223, 0.313);
        border: 1px solid rgb(80, 0, 80);
        width: 20em;
        height: 10em;
}

canvas {
  display: block;
}
